body{
margin:0;
padding:0;
font-family:Georgia,serif;
background:linear-gradient(180deg,#0d0d0d,#1b1b1b);
color:white;
text-align:center;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
}

h1{
font-size:60px;
color:#D4AF37;
margin:10px;
letter-spacing:4px;
}

h2{
font-size:36px;
color:#ffffff;
margin-bottom:20px;
}

p{
font-size:22px;
color:#dddddd;
}

a{
display:inline-block;
margin-top:20px;
padding:15px 35px;
background:#D4AF37;
color:#111;
text-decoration:none;
border-radius:40px;
font-weight:bold;
transition:.3s;
}

a:hover{
background:#f3d97a;
transform:scale(1.05);
}
